---
import { DEFAULT_LOCALE, SUPPORTED_LOCALES } from "@/i18n/config";
import { translateFor } from "@/i18n/utils";
import getUniqueTags from "@/utils/getUniqueTags";
import { getPostsByLocale } from "@/utils/posts";

export const prerender = true;

export const getStaticPaths = async () => {
  return SUPPORTED_LOCALES.map((locale) => ({
    params: { locale: locale === DEFAULT_LOCALE ? undefined : locale },
  }));
};

const { locale = DEFAULT_LOCALE } = Astro.params;

const posts = await getPostsByLocale(locale);

const _t = translateFor(Astro.currentLocale);

let _tags = getUniqueTags(posts);
---

<Layout title={`${t("tags")} | ${t("site.title")}`}>
  <Header />
  <Main pageTitle={t("tags")} pageDesc={t("tags.desc")}>
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
